
li{
    margin: 20px;
}
#nombre{
    width: 20%;
    height: 40px;
}
#rut{
    width: 20%;
    height: 40px;
}
#numero{
    width: 10%;
    height: 40px;
}
#email{
    width: 20%;
    height: 40px;
}
#opinion{
    width: 30%;
}
