#perfil{
    display: flex;
    margin: 40px;
}
#fotoperfil{
    border: solid;
    border-width: 1px;
}
#datospersona h1{
    margin: 40px;
    position: relative;
    top: 30px;
    font-weight: bold;
    font-size: 300%;
}
#datospersona p{
    margin: 40px;
    position: relative;
    top: 10px;
    font-size: 120%;
}
a{
    margin: 40px;
    position: relative;
    top: 50px;
    font-size: 120%;
}
#seccion{
    display: flex;
    list-style-type: none;
}
#signosvitales{
    border: none;
    width: 500px;
}
#datos{
    list-style-type: none;
    border: solid;
    width: 450px;
    height: 450px;
    border-width: 1px;
}
#datos li{
    display: flex;
    margin-top: 40px;
    margin-right: 40px;
    margin-bottom: 40px;
}
#datos li p{
    font-size: 20px;
}
#datos li span{
    font-size: 70px;
}
#dato1{
    position: relative;
    left: 170px;
}
#dato2{
    position: relative;
    left: 200px;
}
#dato3{
    position: relative;
    left: 150px;
}
#totalantecedentes{
    list-style-type: none;
}
#historiales{
    list-style-type: none;
}

#totalinformacion{
    position: relative;
    left: 250px;
    bottom: 280px;
}
#campos h2{
    font-size: 80px;
    font-weight: bold;
    position: relative;
    left: 40px;
}
#informacion ul{
    list-style-type: none;
}
#formulario ul li{
    margin: 20px;
}
#formulario ul{
    width: 650px;
}
#nombre{
    width: 400px;
    height: 25px;
    position: relative;
    left: 10px;
}
#edad{
    width: 100px;
    height: 25px;
    position: relative;
    left: 122px;
}
#fecha{
    width: 200px;
    height: 30px;
    position: relative;
    left: -11px;
}
#genero{
    width: 204px;
    height: 35px;
    position: relative;
    left: 105px;
}
#email
{
    width: 400px;
    height: 25px;
    position: relative;
    left: 10px;
}
#numero
{
    width: 400px;
    height: 25px;
    position: relative;
    left: 10px;
}
#rut
{
    width: 400px;
    height: 25px;
    position: relative;
    left: 128px;
}
#regiones{
    width: 204px;
    height: 35px;
    position: relative;
    left: 110px;
}
#comunas{
    width: 204px;
    height: 35px;
    position: relative;
    left: 97px;
}
label{
    font-weight: bold;
    font-size: 20px;
    margin-right: 30px;
}
#actualizar{
    width: 100px;
    border: solid;
    border-width: 1px;
}
#actualizar p{
    text-align: center;
}
#antecendentes{
    width: 450px;
    height: 650px;
    position: relative;
    bottom: 50px;
    left: 50px;
}
#totalantecedentes{
    list-style-type: none;
}
#titulo{
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: solid;
    border-width: 1px;
    display: flex;
}
#titulo2{
    display: flex;
}
#titulo2 span{
    font-size: 40px;
    position: relative;
    top: 10px;
}
#titulo span{
    font-size: 40px;
    position: relative;
    top: 10px;
}
#historial{

    display: flex;
    font-size: 20px;
    border-bottom: solid;
    border-width: 1px;
    position: relative;
    right: 40px;
    width: 365px;
    list-style-type: none;
}
#historial2{

    display: flex;
    font-size: 20px;
    border: solid;
    border-width: 1px;
    position: relative;
    right: 40px;
    width: 510px;
    list-style-type: none;
    margin: 20px;
}
#historial li p{
    position: relative;
    right: 40px;
}
#eliminar1{
    position: relative;
    left: 210px;
}
#eliminar2{
    position: relative;
    left: 190px;
}
#eliminar3{
    position: relative;
    left: 220px;
}
#eliminar1 span{
    position: relative;
    right: 25px;
    font-size: 40px;
}
#eliminar2 span{
    position: relative;
    right: 25px;
    font-size: 40px;
}
#eliminar3 span{
    position: relative;
    right: 25px;
    font-size: 40px;
}
#eliminar4{
    position: relative;
    left: 300px;
}
#eliminar5{
    position: relative;
    left: 280px;
}
#eliminar6{
    position: relative;
    left: 310px;
}
#eliminar4 span{
    position: relative;
    right: -10px;
    font-size: 40px;
}
#eliminar5 span{
    position: relative;
    right: -10px;
    font-size: 40px;
}
#eliminar6 span{
    position: relative;
    right: -10px;
    font-size: 40px;
}
#agregar{
    position: relative;
    bottom: -10px;
}
#formulario2 ul{
    list-style-type: none;
    border: solid;
    border-width: 1px;
    margin-right: 100px;
}
#formulario2 ul li{
    margin: 10px;
}
#motivo{
    width: 300px;
    height: 25px;
}
#fecha2{
    width: 200px;
    height: 30px;
}